.form {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 20px 5px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 200px;
    border: 2px solid #dcdcdc;
    background-color: beige;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #2f4f4f;
}

.label:last-child {
    margin-bottom: 0;
}

.input {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: 250px;
    border: 2px solid #dcdcdc;
    border-radius: 2px;
}

.input:last-child {
    margin-bottom: 0;
}

.button {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
}